.icons{
    width: 100%;
    padding-bottom: 3rem;
}
.p1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
        font-family: 'Poppins', sans-serif;
    color: var(--primary-font-color);
    font-weight: lighter;
    margin-bottom: 10px;
    font-weight: 400;

}
.icon{
    font-size: 2.5rem;
    margin: 20px;
    color: var(--primary-font-color);
}

@media (max-width:568px) {
    .icon{
        margin: 10px;
        font-size: 2rem;
    }
}