.h1 {
    font-size: 3rem;
    max-width: 90%;
    text-align: center;
    z-index: 2;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.h3{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 568px) {
    .h1{
        font-size: 2rem;
    }
}