.cards{
    width: 80%;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    justify-content: center;
    justify-items: center;
}
@media (max-width:1060px) {
    .cards{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}
