.cards{
    width: 80%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    justify-content: center;
    justify-items: center;
    padding-top: 2rem;
}
.btn{
    border: none;
    font-size: 1.2rem;
    border-radius: 12px;
    color: #ffffff;
    background: var(--primary-btn-color);
    width: 200px;
    height: 50px;
    display: none;
}
@media (max-width:1060px) {
    .cards{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}
@media (max-width: 400px){
    .cards{
        width: 90%;
    grid-template-columns: repeat(1, minmax(15rem, 1fr));

    }
}

