.modalbox {
    position: relative;
    width: 85%;
    max-width: 70rem;
    height: 50vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.svgimg {
    background: #d4f1ff;
    width: 35%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 82%;
    max-height: 40vh;
}
.contentbox {
    position: absolute;
    left: 32%;
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
    align-self: flex-end;
    border-radius: 25px;
}
.h1 {
    font-size: 1.9rem;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    margin-top: 0rem;
    padding-top: 2rem;
    font-weight: 100;
    position: relative;
    z-index: 2;
}
.p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    margin-top: 0;
    width: 80%;
}
.btn {
    width: 15rem;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #31a6fa;
    font-size: 1.3rem;
    color: #ffffff;
    align-self: center;
    margin-top: 1.5rem;
}
.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Moontime;
    color: var(--primary-font-color);
    font-weight: lighter;
    margin-bottom: 0;
}
.icon {
    font-size: 2rem;
    margin: 20px;
    color: var(--primary-font-color);
}

.p2 {
    text-align: right;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Moontime;
    align-items: flex-end;
    padding-right: 20px;
    color: var(--primary-font-color);
    font-weight: lighter;
}
.closebtn {
    position: relative;
    color: #ffffff;
    top: -2rem;
    align-self: flex-end;
}
.btnclose {
    border: none;
    position: absolute;
    background: transparent;

    color: #ffffff;
    font-size: 2rem;
}
.btnclose:hover {
    color: #000000;
}

@media (max-width: 650px) {
    .modalbox {
        height: auto;
    }
    .svgimg {
        width: auto;
        position: relative;
        top: 22px;
        height: 33vh;
        border-top-right-radius: 25px;
    }
    .contentbox {
        width: 100%;
        position: relative;
        top: -25px;
        left: 0;
    }
    .img{
        height: 33vh;
    }
    .closebtn{
        top: 0;
        left: -5px;
    }
    .btnclose {
        font-size: 1.5rem;
    }
    
}
@media (max-width: 568px) {
    .secmodal {
        overflow-y: scroll;
    }
    .icon {
        margin: 12px;
        font-size: 1.5rem;
    }
}
@media (max-width: 400px) {
    .h1{
        font-size: 1.4rem;
    }
    .p{
        font-size: .9rem;
    }
}
