
.img{
    width: 100px;
    height: auto;
}
.card {
    margin: 3rem 0rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .35s ease-in-out ;

}
.card:hover{
    background: #FFFFFF;
    box-shadow: 0px 19px 24px rgba(0, 0, 0, 0.12);
    border-radius: 34px;
}
