.modalbox {
    position: relative;
    width: 85%;
    max-width: 70rem;
    height: 70vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.svgimg {
    background: #f0f0f0;
    width: 35%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 82%;
    max-height: 40vh;
}
.contentbox {
    position: absolute;
    left: 32%;
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
    align-self: flex-end;
    border-radius: 25px;
}
.content {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.h1 {
    font-size: 1.8rem;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    margin-top: 0rem;
    padding-top: 2rem;
    font-weight: 100;
    position: relative;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 2;
}
.p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    margin-top: 0;
    width: 80%;
}
.btn {
    width: 60%;
    max-width: 15rem;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: var(--primary-btn-color);
    font-size: 1.3rem;
    color: #ffffff;
    align-self: center;
    margin-top: 1.5rem;
}
.btn1 {
    width: 70%;
    max-width: 15rem;
    height: 40px;
    border: 1px solid var(--primary-btn-color);
    border-radius: 15px;
    background: #f0f0f0;
    font-size: 1rem;
    color: #000000;
    align-self: center;
    margin-bottom: 1rem;
}
.a {
    text-decoration: none;
    color: #000000;
}
.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input,
textarea {
    max-width: 25rem;
    width: 80%;
    margin-top: 1rem;
    color: black;
    border-radius: 6px;
    height: 30px;
    border: 0px solid;
    text-align: center;
    background: #cacbcd;
}
::placeholder {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}
::-moz-placeholder {
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}

.icons {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Moontime;
    color: var(--primary-font-color);
    font-weight: lighter;
    margin-bottom: 0;
}
.icon {
    font-size: 2rem;
    margin: 20px;
    color: var(--primary-font-color);
}

.p2 {
    text-align: center;
    margin: 1rem 0;
}
.closebtn {
    position: relative;
    z-index: 2;
    top: 0.5rem;
    left: -2.5rem;
    align-self: flex-end;
}
.btnclose {
    border: none;
    position: absolute;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: #000000;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btnclose:hover {
    color: rgb(138, 138, 138);
    border: 1px solid rgb(138, 138, 138);
}

@media (max-width: 650px) {
    .modalbox {
        height: auto;
    }
    .svgimg {
        width: auto;
        position: relative;
        top: 22px;
        height: 33vh;
        border-top-right-radius: 25px;
    }
    .contentbox {
        width: 100%;
        position: relative;
        top: -25px;
        left: 0;
    }
    .img {
        height: 23vh;
    }
    .closebtn {
        top: 2rem;
        left: -2.3rem;
    }
    .btnclose {
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .h1,
    .p {
        width: 90%;
        text-align: center;
    }
}
@media (max-width: 568px) {
    .secmodal {
        overflow-y: scroll;
    }
    .icon {
        margin: 12px;
        font-size: 1.5rem;
    }
    .h1 {
        font-size: 1.6rem;
    }
    .p {
        font-size: 0.9rem;
    }
}
@media (max-width: 400px) {
    .h1 {
        font-size: 1.4rem;
    }
    .p {
        font-size: 0.9rem;
    }
}
