.sec2{
    width: 90%;
    display: grid;
    padding-left: 5%;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.h1{
    font-size: 1.9rem;
    text-align: left;
    margin-top: 0rem;
}
.box{
    width: 70%;
    height: 35vh;
    background: var(--primary-boxbg);
    margin: 2rem;
    border-radius: 15px;
}
.contentbox{
    margin: 2.5rem 0rem;
}
.contentbox .p{
    font-size: .8rem;
    width: 80%;
}
.arrow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
