.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    position: relative;
    top: 30px;
}

.nav {
    background: var(--primary-bgcolor);
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.logo{
    width: 50px;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--primary-btn-color);
}
.hire {
    width: 100px;
    height: 35px;
    border: none;
    background: var(--primary-btn-color);
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.p{
    font-size: 2rem;
    line-height: 35px;
    margin: 0;
    top: -4px;
    position: relative;
    color: #545454;
}
.changer {
    height: 35px;
    margin-left: 10px;
    border: none;
    background: none;
    font-size: 2rem;
    color: var(--primary-font-color);
}
@media (max-width: 568px) {
    .h1{
        font-size: 2rem;
    }
}