@font-face {
    font-family: MoonTime;
    src: url(./assets/FontsFree-Net-MoonTime-Regular-1.ttf);
}
:root {
    --primary-bgcolor: white;
    --primary-btn-color: #31a6fa;
    --primary-font-color: #000000;
    --primary-boxbg: #d3f2ff;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root{
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
