.word {
    font-family: Moontime;
    font-weight: lighter;
    position: relative;
}
.word::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: 0rem;
    width: 100%;
    height: 40px;
    border-radius: 50% 50% 0 0;
    border-top: 5px solid var(--primary-btn-color);
    transform: rotate(-20deg);
}
