.sec4{
    padding: 5rem 0rem;
    width: 60%;
}
.h3{
    font-size: 1.3rem;
}
.h4{
    text-align: right;
    font-size: 2.2rem;
    font-family: Moontime;
    font-weight: lighter;
    margin-top: 1rem;
}